<template>
    <q-page>
<q-item-label header>People that are interested in you!</q-item-label>
     <q-list bordered separator :dark="true">
         <q-item
          v-for="person in persons" 
          :key="person.id"
          clickable
          v-ripple>
            <q-item-section side top>
               
             </q-item-section>

                        <q-item-section>
                            <q-item-label >{{person.name}}</q-item-label>
                                 <q-item-label caption>
                                     {{person.email}}
                                 </q-item-label>
                                
                        </q-item-section>
                 </q-item>     
     </q-list>
       
     
        
    </q-page>
</template>

<script>

export default {
    data(){
        return{
            persons:[]
        }
    },
    methods(){

    },

    mounted(){
        this.$axios.get("http://localhost:8081/getInterestedStud/"+sessionStorage.getItem("id")).then(response=>{
            
            for(var i=0;i<response.data.length;i++){
                this.persons.push({
                    name:response.data[i][0].firstName+" "+response.data[i][0].lastName,
                    email:response.data[i][0].email,
                 })
            }
            console.log(this.persons);
            
        }).catch(error => {
                            console.log(error.response)        
                        });
    }
}
</script>

<style>
.q-page{
  background: #1d1d1d;
}
</style>