<template>
    <q-page>
<q-item-label header>People that are interested in you!</q-item-label>
     <q-list bordered separator :dark="true">
         <q-item
          v-for="person in persons" 
          :key="person.id"
          clickable
          @click="person.interested=!person.interested"
           v-ripple>
            <q-item-section side top>
                <q-checkbox v-model="person.interested" />
             </q-item-section>

                        <q-item-section>
                            <q-item-label >{{person.name}}</q-item-label>
                                 <q-item-label caption>
                                     {{person.company}}
                                 </q-item-label>
                                 <q-item-label caption>
                                     {{person.email}}
                                 </q-item-label>
                        </q-item-section>
                 </q-item>     
     </q-list>
       
     
        
    </q-page>
</template>

<script>

export default {
    data(){
        return{
            persons:[
               
            ]
        }
    },
    methods(){

    },

    created(){
        this.$axios.get("http://localhost:8081/seeInterestedEmp/"+sessionStorage.getItem('id')).then(response=>{
            console.log(response.data);
            for(var i=0;i<response.data.length;i++){
                this.persons.push({
                    name:response.data[i].Name,
                    company:response.data[i].Company,
                    email:response.data[i].email
                });
            }
        }).catch(error=>{
            console.log(error)
        })
    }
}
</script>

<style>
.q-page{
  background: #1d1d1d;
}
</style>