<template>
    <q-page>
        <q-item-label header>CVs that match your searches</q-item-label>
        <q-list bordered separator :dark="true">
         <q-item
          v-for="person in persons" 
          :key="person.id"
          clickable
          @click="handleSelectItem(person)"
           v-ripple>
            <q-item-section side top>
                <q-checkbox v-model="person.interested"/>
             </q-item-section>
             <q-item-section>
                            <q-item-label >{{person.name}}</q-item-label>
                                 <q-item-label caption>
                                     {{person.email}}
                                 </q-item-label>
                        </q-item-section>
                 </q-item>     
     </q-list>
     <br>

      <q-btn class="emailBtn" clickable to=""   color="primary" label="Send Email!" icon-right="create" @click=" selectStudentsForEmail(),dialog=true"/>  
    
    
    <q-dialog  v-model="dialog" persistent>
        <q-card class="dialog">
            <br>
                <!--CONTINUT-->
                <div class="conturCard">
                <q-card-section class="row items-center">
                <q-editor
                class="editEmail"
                v-model="emailText"
                flat
                toolbar-bg="primary"
                :toolbar="[]"/>
                </q-card-section>
                </div>

                <!--BUTOANE-->
                <q-card-actions align="center">
                        <q-btn flat label="Go Back" color="primary" v-close-popup />
                        <q-btn flat label="Send Email" color="primary" v-close-popup @click="sendEmail()" />
                </q-card-actions>

        </q-card>
    </q-dialog>
  
    
    </q-page>
</template>

<script>

export default {
    data(){
        return{
            persons:[],
            selectedPerson:null,
            emails:[],
            dialog: false,
            emailText:"Type Email",
            idStudenti:[]

      
           
        }
    },

    mounted(){
        
         var json_data=JSON.parse(sessionStorage.getItem("CV"));
         console.log(json_data);
         var stringID={
           id:[]
         }
         
        for(var i=0;i<json_data.length;i++){
            stringID.id.push(json_data[i].id);
        } 
        
        console.log(stringID);


        this.$axios.post("http://localhost:8081/ListCv",stringID).then(response=>{
            console.log(response);
            
            console.log(response.data.length);
            for(var i=0;i<response.data.length;i++){
           
            this.persons.push({
                id:response.data[i][0].id,
                name:response.data[i][0].firstName+"-"+response.data[i][0].lastName,
                email:response.data[i][0].email,
                interested:false
            })
             }

        }).catch(error => {
                            console.log(error.response)        
                        });
        


    },

    methods:{
        handleSelectItem(person){
            this.selectedPerson=person.id
            sessionStorage.setItem("idCv",this.selectedPerson);
            this.$router.push("/SingleCvCompany/" +this.selectedPerson);
        },

        selectStudentsForEmail(){
                for(var i=0;i<this.persons.length;i++){
                    if(this.persons[i].interested==true){
                        if(this.emails.includes(this.persons[i].email || this.idStudenti.includes(this.persons[i].id))){
                                console.log("This email or ID alredy in vector: "+this.persons[i].email+" "+this.persons[i].id);
                                
                        }
                        else{
                        this.emails.push(this.persons[i].email);
                        this.idStudenti.push(this.persons[i].id);
                        }
                     }
                }
                console.log(this.emails);
                console.log(this.idStudenti);
                console.log(sessionStorage.getItem("id"));
        },

        sendEmail(){
            this.$axios.post("http://localhost:8081/SendEmail",{email:this.emails,emailText:this.emailText,vectorStudenti:this.idStudenti,id:sessionStorage.getItem("id")}).then(response=>{
                console.log(response);
                this.emails=[];
                this.idStudenti=[];
            }).catch(error => {
                            console.log(error.response)        
            });
        }
    }
}
</script>

<style scoped>
.emailBtn{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    
}

.dialog{
    width: 150%;
  
}
.conturCard{

    border:1px black solid;
    margin-left:2% ;
    margin-right:2% ;
}


</style>