<template>
  <q-page>
    <br>
     <br>
    <div class="photo">
    <q-img
        :src="url"
        style="width: 150px"
        :ratio="1"
        basic
        spinner-color="white"
     />
    </div>
       <div class="absolute-center">
         <div class="back">
         <q-input rounded outlined v-model="login.email" label="Email" type="email" autofocus="true"/>
        <br>
         <q-input rounded outlined v-model="login.password" label="Password" type="password"/>
        <br>
         <q-btn  class="btnLg" color="primary"  label="Log In" icon-right="how_to_reg" @click="loginN()" />
         
         <q-btn clickable to="/register"   color="primary" label="Sign Up!" icon-right="create"/>  
         
        </div>
        </div>
  
      
  
  </q-page>
  </template>


<script>
import axios from 'axios';

export default {
  name: "LoginPage",
  data() {
    return {
      login: {
        password: "",
        email: "",
       
      },
      url:"https://pngimage.net/wp-content/uploads/2018/06/logo-png-cv.png"
    };
  },

  methods:{
      loginN(){
        if(this.login.email.length==0 || this.login.password.length==0 ){
          alert("Email or Password not fullfield");
        }
        else{
     this.$store.dispatch("data/findUser", {
          email: this.login.email,
          password: this.login.password
        })
        .then(response => {
          console.log(response);
             
       
        })
        .catch(error => {
        
         console.log(error.response.data)
          
         
        });
        
    }
    
   },
   
}
}
</script>

<style>
.q-page{
  background: #1d1d1d
}
.photo{
  background-color:white;
  width: 10%;
  border-radius: 30px 30px 30px 30px;
  
  margin-left: 45%;
}

.back{
  background:rgb(246, 246, 248);
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  border-radius: 10px; 
}

.absolute-center{
  width:30%; 
   
}

.q-btn{

  margin-left:17%;
  
}
@media only screen and (max-width: 1044px) {
  .q-btn{padding: 3%; margin-left:16%;}
  
  .absolute-center{ width:70%;}

}

@media only screen and (max-width: 700px) {
 .q-btn{
   padding: 8%;
   margin-left:15%;  
 }
  
.absolute-center{
  width:70%; 
   
}

.photo{
  width:40%;
  margin-left:30%;
}

.btnLg{
  padding-right:13.5%;
}

}


</style>
