<template>
   <q-page>
     <br>
      <q-img
      class="profileImage"      
      :src="url"
      spinner-color="white"
      style="height: 210px; max-width: 230px"
    />
    <br>

<br>

      
    <div class="backProfile1">
      <br>
    <p class="p1">First Name</p>
    <p class="date">{{Fname}}</p>
    <br>
    
    <p class="p1">Last Name</p>
    <p class="date">{{Lname}}</p>
    <br>
    

    
    <p class="p1">Email</p>
    <p class="date">{{email}}</p>
    <br>
   
    <p class="p1">Phone Number</p>
    <p class="date">{{phoneNumber}}</p>
    <br>
   
    </div>
     
    
  
   </q-page>
   
</template>

<script>
import axios from 'axios';
import { mapGetters, mapState } from "vuex";


export default{
  
  data(){
          return {
            url:"https://cdn.spacetelescope.org/archives/images/screen/opo9635a1.jpg",
            Fname:"",
            Lname:"",
            email:"",
            phoneNumber:"",
            file:"" ,
            refresh:false       
          }
    },
  
    
  
  mounted(){
       
  },

  created(){
   
     this.$axios.get("http://localhost:8081/profilePage/"+sessionStorage.getItem('id')).then(response=>{
        console.log(response.data);
        this.Fname=response.data[0].firstName;
        this.Lname=response.data[0].lastName;
        this.email=response.data[0].email;
        this.phoneNumber=response.data[0].phoneNumber;
     })
    
  },

  beforeCreate(){
      
  if(sessionStorage.getItem('reload')=='false'){
      sessionStorage.setItem('reload',true);
      location.reload();}
  }

 
  

 
}
  
  
   

</script>
<style>
.q-page{
  background: #1d1d1d;
}
.p1{
    color: black;
    font-size: 150%;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
    
}
.profileImage{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.btnPhoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:230px;
}
.date{
  color:black;
  font-size: 150%;
  display: inline-block;
}

.backProfile1{
  background-color: white;
  width:30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  
}




@media only screen and (max-width: 640px) {
  .backProfile1{
  background-color: white;
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  
}


  
}
</style>