<template>
<q-page padding>
<div class="absolute-center">
    <div class="backFont">
         <q-input rounded outlined v-model="signUp.firstName" label="First Name" type="text"/>
         <br>
         <q-input rounded outlined v-model="signUp.lastName" label="Last Name" type="text"/>
         <br>
         <q-input rounded outlined v-model="signUp.email" label="Email" type="text"/>
         <br>
          <q-input rounded outlined v-model="signUp.phoneNumber" label="Phone Number" type="text"/>
        <br>
         <q-input rounded outlined v-model="signUp.password" label="Password" type="password"/>
        <br>
        <q-input rounded outlined v-model="signUp.confirmedPass" label="Confirm Password" type="password"/>
        <p class="importantText">*All fields besides phone number are mandatory</p>
        <br>
        
    
        <q-btn class="btn" clickable color="primary" label="Sign Up!" icon-right="create" @click="onSignUp()"/> 
       
    </div>

</div>
</q-page>
    
</template>
<script>
import axios from 'axios';

export default {
   
   data(){
       return{
           signUp:{
               email:"",
               password:"",
               confirmedPass:"",
               firstName:"",
               lastName:"",
               phoneNumber:""
           }
       }
   },
   methods:{
       onSignUp(){
           axios.post("http://localhost:8081/register",this.signUp)
           .then(response=> {
            console.log(response.data);
            this.$router.push("/login");})
           
       }
   }
}
</script>
<style>
.q-page{
    background: #1d1d1d;
}
.absolute-center{
    width: 40%;
}
.backFont{
  background:rgb(246, 246, 248);
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
  border-radius: 10px; 
}

.importantText{
    font-style: italic;
    font-size:70%;
    padding-left: 3%;
}

.btn{
    width: 50%;
    margin-left:25%;
    
}

@media only screen and (max-width: 1023px) {
 
  
  .absolute-center{ width:70%;}
  
}

</style>