<template>
    <q-page>
      <p>University</p>
      <p class="cv">{{facultate}}</p>
      <br>

      <p>Hard Skills</p>
      <p class="cv">{{hardSkills}}</p>
      <br>

      <p>Languages</p>
      <p class="cv">{{languages}}</p>
      <br>

      <p>Soft Skills</p>
      <p class="cv">{{softSkills}}</p>
      <br>

      <p>Work Experience</p>
      <p class="cv">{{workexp}}</p>
      <br>

      <p>Personal Projcets</p>
      <p class="cv">{{projects}}</p>
      <br>
     
      <p>Certificates</p>
      <p class="cv">{{certificates}}</p>
      <br>


    </q-page>
</template>

<script>

export default {
    data(){
      return{
        facultate:"",
        hardSkills:"",
        languages:"",
        softSkills:"",
        workexp:"",
        projects:"",
        certificates:"",
      }
    },

    mounted(){
      this.$axios.get("http://localhost:8081/CV/"+sessionStorage.getItem("idCv")).then(response=>{
        console.log(response.data);
        this.facultate=response.data[0].university
        this.hardSkills=response.data[0].hardSkills
        this.languages=response.data[0].languages
        this.softSkills=response.data[0].softSkills
        this.workexp=response.data[0].workExp1.replace(/(\\r)*\\n/g, '<br>')
        this.projects=response.data[0].project1
        this.certificates=response.data[0].certificate1
      }).catch(e=>{
        console.log(e);
      })
    }
}
</script>

<style scoped>
.q-page{
  background: #1d1d1d;
}

.p{
  color: yellow;
}
.cv{
  color:white;
}
</style>