<template>

  <q-layout view="hHh lpR fFf">
    <q-header elevated> 
      <q-toolbar content-class="bg-primary">
        <q-toolbar-title >
         Welcome To My Application!
        </q-toolbar-title>  
         </q-toolbar>    
    </q-header>
    
     
    <q-page-container>
      <Login></Login>
      <router-view />
    </q-page-container>
  </q-layout>

  
</template>

<script>
import Login from 'pages/LogIn.vue';

export default {
  name: 'MainLayout',

  data () {
    return {
    
     
    }
  }
}
</script>

<style>

</style>
